{:paths   ["src"]
 :aliases {:joao  {:extra-paths ["src" "dev"]
                   :extra-deps  {org.clojure/tools.namespace               {:mvn/version "1.5.0"}
                                 com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.7"}
                                 com.clojure-goes-fast/clj-memory-meter    {:mvn/version "0.4.0"}
                                 ch.qos.logback/logback-classic            {:mvn/version "1.5.16"}}
                   :jvm-opts    ["-Djdk.attach.allowAttachSelf"
                                 "-XX:-OmitStackTraceInFastThrow"
                                 "-XX:+UnlockDiagnosticVMOptions" "-XX:+DebugNonSafepoints"]}
           :morse {:extra-deps {io.github.nubank/morse {:git/tag "v2023.10.06.02" :git/sha "88b5ff7"}}}
           :rebl  {:extra-deps {com.cognitect/rebl          {:mvn/version "0.9.245"}
                                org.openjfx/javafx-fxml     {:mvn/version "19"}
                                org.openjfx/javafx-controls {:mvn/version "19"}
                                org.openjfx/javafx-swing    {:mvn/version "19"}
                                org.openjfx/javafx-base     {:mvn/version "19"}
                                org.openjfx/javafx-web      {:mvn/version "19"}}
                   :main-opts  ["-m" "cognitect.rebl"]}}}